.row-header{
    margin: 0px auto;
    padding: 0px auto;
}

.row-content{
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}

.row-about{
    padding:30px 0px 0px 0px;
}

.footer{
    background-color: #d1c4e9;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
}

.jumbotron{
    padding: 70px 30px 70px 30px ;
    margin: 0px auto;
    background-color: #9575cd;
    color: floralwhite;
}

.address{
    font-size: 80%;
    margin: 0px;
    color: #0f0f0f;
}
body{
    padding: 50px 0px 0px 0px;
    z-index: 0;
}

.navbar-dark{
    background-color: #512da8;
    
}

.tab-content{
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.carousel{
    background: #512dab; 
}

.carousel-item{
    height:350px;
}

.carousel-item2{
    height:250px;
}
.carousel-item img{
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}

#carouselButton{
    right:0px;
    left: 15px;
    position: absolute;
    bottom: 0px;
}

.tagline{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 20pt;
}

.name{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 40pt;
    font-weight: bold;
}

.tab {
    display: inline-block;
    margin-left: 40px;
}

.magenta{
    color:#d11f63;
}

.green{
    color: #94ff19;
}

.blue{
    color: #1ddde0;
}

.orange{
    color:orange;
}

.right_align{
    
    padding: 0px 0px 0px 250px;
}

.medium_align{
    padding: 0px 0px 0px 265px;
    text-align: left;
}

.content {
    position: absolute; /* Position the background text */
    bottom: 0; /* At the bottom. Use top:0 to append it to the top */
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1; /* Grey text */
    width: 100%; /* Full width */
   
  }

  .change{
      color: blue;
  }